#show-page-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10%;
    height: 90%;
    width: 100%;
}

#show-page-title-box {
    width: 100%;
    height: 7%;
    position: absolute;
}

#show-page-title {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 10%;
    bottom: 10%;
}

#show-page-location-box {
    width: 100%;
    height: 5%;
    position: absolute;
    top: 7%;
}

#show-page-location {
    position: absolute;
    top: 12%;
    left: 10%;
    font-size: 16px;
    font-weight: lighter;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

#photo-span-container{
    height: 65%;
    position: absolute;
    top: 12%;
}

#photo-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

#main-photo-divider-container {
    height: 100%;
    width: 49.5%;
}

#photo-divider-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 49.5%;
    justify-content: space-between;
}

#big-photo {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 2.5%;
    border-top-left-radius: 2.5%;
}

.top-small-photo {
    height: 49%;
    width: 49%;
    margin-bottom: 1%;
}


.small-photo {
    height: 48%;
    width: 49%;
    margin-top: 1%;
}

#third-photo {
    border-top-right-radius: 5%;
}

#fifth-photo {
    border-bottom-right-radius: 5%;
}


#show-page-bottom-divider-box {
    display: flex;
    position: absolute;
    top: 83%;
    width: 100%;
    height: 80%;
}

#show-page-information-box {
    width: 60%;
    height: 100%;
}

#show-page-booking-form {
    width: 30%;
    height: inherit;
}

#show-page-host-box {
    margin-top: 2%;
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
}

#show-page-host {
    font-size: 24px;
    margin-left: 16.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

#show-page-attribute-box {
    margin-top: 1%;
    height: 2%;
    width: 100%;
    display: flex;
    align-items: center;
}

#show-page-attribute {
    list-style-type: disc;
    display: flex;
    margin-left: 16.5%;
    height: 4%;
}

#show-page-attribute li {
    margin-top: 2%;
    margin-right: 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#show-page-attribute li:first-child {
    list-style-type: none;
}

#show-page-description-box {
    width: 80%;
    height: 35%;
    word-wrap: break-word;
    display: block;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 17%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#show-page-description-line {
    margin-top: 8%;
    margin-bottom: 4%;
    margin-left: 17%;
    width: 76%;
}

#show-page-description {
    /* margin-left: 17%; */
    font-family: sans-serif;
    font-size: 16px;
    line-height: 24px;
    /* margin-right: 8.5%; */
}

#reviews-index-mega-container {
    width: 100%;
    height: 100%;
}

#reviews-index-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 3%;
    margin-left: 17%;
}

#reviews-index-header div {
    height: 100%;
    font-size: 22px;
    margin-right: 1%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#reviews-index-header div img {
    height: 100%;
}

#reviews-index-header div:last-child {
    margin-left: 1%;
}

#description-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#reviews-index-container {
    width: 85%;
    height: 20%;
    top: 5%;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    column-count: 2;
}


