#listing-box {
    height: 180%;
    width: 20%;
    margin: 20px;
}

#index-photo {
    height: 80%;
    width: 100%;
    border-radius: 10% ;
}

#listing-box a:link {
    text-decoration: none;
}

#listing-box a:hover {
    text-decoration: none;;
}

#listing-box a:active {
    text-decoration: none;
}

#listing-box a:visited {
    text-decoration: none;
}

.nav-link-text {
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
}