#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
  
#modal-content {
    position: absolute;
    background-color:white;
    border-radius: 5%;
    width: 38%;
    height: 88%;
    align-content: flex-start;
}

#modal-message {
    display: inline-block;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 10%;
    text-align: center;
    vertical-align: middle;
}

#login-msg {
    margin-top: 5%;
    font-size: 16px;
}

#modal-form {
    display: flex;
    position: absolute;
    top: 10%;
    width: 100%;
    height: 40%;
}

#modal-social-media {
    display: flex;
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0%;
    align-content: flex-start;
}