.listing-price-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 30%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    row-gap: 15%;
}

.listing-price-header {
    font-size: 30px;
    display: inline-block;
}

.listing-price-subheader {
    font-size: 16px;
    color: gray;
}

.listing-price-box {
    display: flex;
    flex-direction: row;
    column-gap: 3%;
    width: 80%;
    min-height: 24px;
    font-size: 16px;
}

.listing-price-input {
    text-align: right;
}

.listing-price-box div {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: auto;
}

.listing-price-box input {
    width: 50%;
    height: 100%;
    font-size: 20px;
    border-radius: 2% / 10%;
}

/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin-right: 5%;
} */