.listing-info-input-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 40%;
    height: 35%;
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    border: 1px solid black;
}

.listing-info-input-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}