.session-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.session-msg-box {
    height: 10%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#login-msg {
    margin-top: 5%;
    font-size: 16px;
}

.login-form-box {
    height: 40%;
    width: 100%;
}

.welcome-box {
    height: 15%;
    width: 100%;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 5%;
}

.modal-form-box {
    width: 100%;
    height: 35%;
    text-align: center;
}

.modal-input-box {
    height: 50%;
    width: 90%;
}

.privacy-policy-box {
    margin-top: 5%;
    height: 5%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.error-box {
    color: red;
    font-size: 15px;
}

.privacy-policy {
    padding-right: 1%;
    font-size: 15px;
    text-decoration: underline;
    color: red;
}

.submit-box {
    margin-top: 5%;
    height: 20%;
    width: 100%;
    text-align: center;
}

.submit-btn {
    width: 92%;
    height: 100%;
    background-color: red;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.break-line {
    margin-top: 7%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.break-line div {
    width: 47%;
}

#break-line-or {
    width: 5%;
    text-align: center;
}

.modal-social-media {
    display: flex;
    width: 100%;
    height: 40%;
    margin-top: 5%;
    align-content: flex-start;
}

.close-button {
    position: absolute;
    left: 2%;
    top: 2%;
    background-color: white;
    border: none;
    font-size: 20px;
}