form {
    display: flex;
    align-content: center;
    height: 100%;
    width: 100%;

}

.welcome-box {
    top: 10%;
    position: absolute;
    font-size: 20px;
    margin-left: 4%;
    margin-bottom: 5%;
}

.modal-form-box {
    display: block; 
    position: absolute;
    top: 25%;
    width: 100%;
    height: 35%;
    text-align: center;
}

.modal-input-box {
    height: 50%;
    width: 90%;
}

.privacy-policy {
    position: absolute;
    top: 66%;
    font-size: 15px;
    margin-left: 4%;
    text-decoration: underline;
    color: red;
}

.submit-box {
    display: block;
    position: absolute;
    bottom: 5%;
    height: 20%;
    width: 100%;
    text-align: center;
}

.submit-btn {
    width: 92%;
    height: 100%;
    background-color: red;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}