#listing-form-container {
    position: absolute;
    top: 5%;
    height: 90%;
    width: 100%;
}

#listing-form-box {
    height: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#listing-form-header {
    height: 6%;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#listing-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
}

#listing-title-box {
    height: 5%;
    width: 100%;
    display: flex;
}

#listing-title-box p {
    font-size: 16px;
}

#listing-title-box input {
    height: 70%;
    width: 60%;
    margin-left: 2%;
}

#listing-address-container {
    margin-top: 2%;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#listing-street-box {
    height: 40%;
    margin-top: 1%;
}

#listing-street-box input {
    width: 98.5%;
    height: 100%;
}

#listing-region-box {
    height: 40%;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}

#listing-city-box {
    width: 45%;
    display: flex;
    height: 100%;
}

#listing-city-box input {
    width: 70%;
    margin-left: 5%;
    height: 100%;
}

#listing-city-box div {
    margin-top: 5%;
    font-size: 16px;
}

#listing-state-box {
    width: 25%;
    height: 100%;
    display: flex;
}

#listing-state-box div {
    margin-top: 8%;
    font-size: 16px;
}

#listing-state-box input {
    width: 40%;
    margin-left: 10%;
    height: 100%;
}

#listing-country-box {
    width: 20;
}

#listing-country-box input {
    height: 100%;
}

#listing-property-box {
    height: 8%;
    margin-top: 5%;
}

#listing-property-box select{
    height: 60%;
    margin-left: 5%;
}

#listing-slider-box {
    height: 35%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

.slider-box {
    height: 15%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider-left-box {
    width: 48%;
    justify-content: space-between;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.slider-left-box div {
    margin-top: 4%;
}

.slider-left-box input {
    height: 70%;
    width: 25%;
}

.slider-right-box {
    width: 48%;
    justify-content: space-around;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.slider-right-box div {
    margin-top: 5%;
}

#listing-form-description-container {
    margin-top: 1%;
    height: 20%;
    display: flex;
    flex-direction: column;
}

.form-textarea {
    height: 100%;
    margin-top: 1%;
    box-sizing: border-box;
}

#listing-form-submit-box{
    margin-top: 2%;
    text-align: center;
    height: 6%;
    width: 100%;
}

#listing-form-btn {
    height: 100%;
    width: 30%;
    background-color: green;
    color: white;
}

