#listing-form-container {
    position: absolute;
    top: 10%;
    height: 90%;
    width: 100%;
}

#listing-form-box {
    height: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#listing-form-header {
    height: 8%;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#listing-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
}

#listing-title-box {
    height: 5%;
    width: 100%;
    display: flex;
}

#listing-title-box p {
    font-size: 20px;
}

#listing-title-box input {
    height: 70%;
    width: 30%;
    margin-left: 1%;
}

#listing-address-container {
    margin-top: 1%;
    height: 15%;
    width: 100%;
}

#listing-address-container p {
    font-size: 20px;
}

#listing-address-box {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#listing-street-box {
    height: 50%;
    margin-top: 1%;
}

#listing-street-box input {
    width: 50%;
}

#listing-region-box {
    height: 50%;
    display: flex;
    flex-direction: row;
    margin-top: 0.5%;
}

#listing-region-box div {
    width: 30%;;
}

#listing-property-box {
    height: 5%;
    margin-top: 1%;
}

#listing-slider-box {
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

.slider-box {
    height: 100%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}

.slider-box div {
    display: flex;
    flex-direction: row;
}

.slider-box div input {
    margin-left: 1%;
    margin-right: 1%;
}

#listing-form-description-container {
    margin-top: 1%;
    height: 20%;
    display: flex;
    flex-direction: column;
}

.form-textarea {
    height: 80%
}


#listing-form-submission-btn {
    margin-top: 1%;
}

