#listing-management-box {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 10%;
    display: flex;
    flex-direction: column;
}

#listing-table-box {
    margin-top: 2%;
    width: 80%;
}

#manage-listing-msg-box {
    height: 50px;
    min-height: 30px;
    text-align: left;
    width: 100%;
}

#manage-listing-msg {
    font-size: 20px;
}

#new-listing-btn-box {
    text-align: right;
    height: 50px;
    min-height: 30px;
    width: 100%;
}

#new-listing-btn {
    height: 80%;
    margin-right: 5%;
    background-color: teal;
    color: white;
}


#listing-table {
    border-bottom: solid;
    border-color: black;
    width: 100%;
    top: 100%;
}

#listing-table-header {
    height: 6vh;
    width: 100%;
    text-align: left;
}

#listing-table-header th {
    font-weight: bold;
    top: 50%;
    vertical-align: middle;
}

#listing-table tr th {
    border-bottom: solid;
    border-color: black;
}

#listing-table-data {
    height: 5vh;
    width: 100%;
    text-align: left;
}

#listing-table-data th {
    margin-left: 5vw;
    vertical-align: middle;
}

.dummy-btn {
    background-color: green;
    color: white;
}