.review-form-info-container {
    width: 100%;
    height: 50%;
}

.review-form-info-box {
    margin-top: 5%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.review-form-host-box {
    display: flex;
    flex-direction: row;
}

.review-form-host-box p:last-child {
    margin-left: 2%;
    margin-top: .8%;
}

.review-form-title {
    font-size: 20px;
}

.review-form-img {
    margin-top: 1%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.review-form-stay-date {
    margin-top: 2%;
    font-size: 12px;
}

.review-form-input-container {
    width: 100%;
    height: 50%;
}

.review-form-input-box {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.review-form-input-header {
    font-size: 18px;
    font-weight: bold;
}

.review-form-input-body {
    margin-top: 2%;
    height: 30%;
    text-align: left;
    vertical-align: top;
}

.review-form-rating-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.review-form-button-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 5%;
    height: 25%;
}

.review-form-button-box button {
    height: 50%;
    width: 40%;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 7% / 21%;
}

.review-form-create-btn {
    background-color: yellowgreen;
}

.review-form-update-btn {
    background-color: yellowgreen;
}

.review-form-delete-btn {
    background-color: #E52B50;
}