#trips-index-page {
    position: absolute;
    display: flex;
    top: 10%;
    width: 100%;
    height: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
}

#trips-index-header {
    width: 100%;
    height: 8%;
    position: relative;
}

#trips-index-header p {
    font-size: 28px;
    left: 10%;
    bottom: 0%;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}

#all-trips-container {
    margin-top: 2%;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

#upcoming-trips-box {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: black;
    max-height: 35vh;
}

.trips-banner {
    height: 10%;
    width: 100%;
}

.trips-banner-header {
    margin-top: 2%;
    margin-left: 2%;
    height: 100%;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

#trips-info-box-container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#past-trips-info-box-container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#past-trips-box {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    max-height: 35vh;
    border-bottom: solid;
    border-color: gray;
}

#trips-index-footer-box {
    top: 80%;
    width: 100%;
    height: 10%;
    margin-left: 10%;
}

#trips-index-footer-box p {
    font-family: Arial, Helvetica, sans-serif;
}

#help-center {
    color: red;
}