#trip-info-container {
    height: 100%;
    width: 33%;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    scroll-snap-align: start;
    min-height: 80px;
    min-width: 200px;
    overflow-y: hidden;
}

#trip-info-photo-box {
    height: 100%;
    width: 50%;
}

#trip-info-photo {
    margin-left: 10%;
    height: 60%;
    min-height: 18vh;
    min-width: 18vh;
    width: 80%;
    margin-top: 25%;
    margin-bottom: auto;
    border-radius: 15%;
}

#trip-info-box {
    height: 100%;
    width: 50%;
    margin-top: 15%;
    margin-bottom: auto;
    flex: none;
}

.bold-header {
    font-size: 18px;
    font-weight: bold;
    margin-left: 5%;
}

.trip-info {
    margin-left: 7%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}

.trip-info:first-child {
    font-weight: bold;
}

#trip-cancel-btn {
    background-color: red;
    color: white;
    width: 65%;
    height: 15%;
    border-radius: 10% / 30%;
}

#create-review-btn {
    background-color: green;
    color: white;
    width: 65%;
    height: 15%;
    border-radius: 10% / 30%;
}