#trip-form-container {
    height: 18%;
    width: 90%;
    min-height: 70vh;
    min-width: 50vh;
    margin-left: auto;
    /* margin-right: auto; */
    margin-top: 2%;
    border: solid;
    border-color: black;
    background-color: white;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
}

#trip-form-price-container {
    top: 0%;
    width: 100%;
    height: 9%;
}

#trip-form-price-box {
    width: 100%;
    margin-top: 7%;
    margin-left: 7%;
    display: flex;
    flex-wrap: wrap;
}

#trip-form-price-box p {
    font-size: 24px;
}

#trip-form-price {
    margin-right: 2%;
    font-weight: bold;
}

#trip-form-input-field-container {
    margin-top: 9%;
    height: 35%;
    width: 100%;
}

#trip-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#trip-form-input-field-box {
    margin-left: 7.5%;
    margin-right: 7.5%;
    height: 70%;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
}

#trip-form-date-box {
    width: 49%;
    height: 50%;
    border: solid;
    border-color: black;
}

#trip-form-date-header {
    position: relative;
    height: 40%;
    width: 98%;
}

#trip-form-date-header span {
    position: absolute;
    bottom: 0;
    left: 10%;
    font-size: 11px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.trip-form-date-input {
    height: 58%;
    width: 98%;
    border: none;
    outline: none;
    text-indent: 3%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}


#trip-form-guest-box {
    height: 50%;
    width: 100%;
    border: solid;
    border-color: black;
    position: relative;
}

#trip-form-guest-header {
    position: relative;
    height: 40%;
    width: 98%;
}

#trip-form-guest-header span {
    position: absolute;
    bottom: 0;
    left: 5%;
    font-size: 11px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#num-guest-input {
    height: 56%;
    width: 98%;
    border: none;
    outline: none;
    text-indent: 3%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#num-guest-overlay {
    position: absolute;
    top: 55%;
    left: 9.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#trip-form-submit-box {
    margin-top: 5%;
    height: 30%;
    width: 100%;
}

#trip-form-btn {
    margin-left: 7.5%;
    height: 100%;
    width: 85%;
    background-color: red;
    background-image: linear-gradient(red, purple);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 5% / 18%;
}

#trip-form-payment-container {
    height: 45%;
    width: 100%;
}

#trip-form-payment-msg {
    margin-top: 8%;
    text-align: center;
    height: 5%;
}

#trip-form-nightly-fee {
    margin-top: 15%;
    margin-left: 7%;
    height: 10%;
    width: 86%;
    display: flex;
    flex-direction: row;
}

#trip-form-sub-calc {
    height: 100%;
    width: 50%;
    text-align: left;
}

#trip-form-sub-total {
    height: 100%;
    width: 50%;
    text-align: right;
}

#trip-form-hospitality-fee {
    margin-top: 5%;
    margin-left: 7%;
    height: 10%;
    width: 86%;
    display: flex;
    flex-direction: row;
}

#trip-form-total-fee {
    margin-top: 8%;
    margin-left: 7%;
    height: 10%;
    width: 86%;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

#trip-form-line-break {
    width: 90%;
}









