.profile-dropdown-menu {
    position: absolute;
    top: 80%;
    right: -10%;
    width: 70%;
    border: solid;
    border-color: black;
    z-index: 99;
    background-color: white;
    border-radius: 5% / 8%;
}

#logout-menu {
    border-radius: 5% / 9%;
}

#login-menu {
    border-radius: 5%;
}

.profile-dropdown-menu li {
    margin: 5%;
}

.profile-dropdown-menu li button {
    border: none;
    background-color: white;
}

