#profile-dropdown-menu {
    position: absolute;
    top: 80%;
    right: 0%;
    width: 80%;
    border: solid;
    border-color: black;
    z-index: 99;
    background-color: white;
    border-radius: 5%;
}

#profile-dropdown-menu li {
    margin: 5%;
}

#profile-dropdown-menu li button {
    border: none;
    background-color: white;
}

