#menu-btn-box {
    height: 100%;
    width: 100%;
}

#menu-btn {
    height: 50%;
    width: 35%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    left: 82.5%;
    background-color: white;
}