#menu-btn-box {
    height: 100%;
    width: 100%;
}

#menu-btn {
    height: 50%;
    width: 25%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    left: 95%;
    border-radius: 25% / 50%;
    background-color: white;
}

#menu-btn-inner-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#menu-btn-left {
    height: 100%;
    width: 50%;
    vertical-align: middle;
}


#menu-btn-right {
    height: 100%;
    width: 50%;
    display: inline-block;
}

.setting-icon {
    margin-top: 25%;
    height: 50%;
    width: 60%;
    background-color: white;
}

.nav-avatar {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}